*.DS_Store

# Android Section
*.apk
*.ap_
*.dex
*.class
local.properties
android/.metadata
android/radiomobile/bin
android/radiomobile/published
android/radiomobile/gen
android/radiomobile/.metadata
android/radiomobile/.settings

#iOS
