<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="1.0" android:versionCode="1" package="co.za.docode.radiomobile.android">
	<application android:icon="@drawable/icon" android:label="@string/app_name">


		<activity android:name="VibeMedia" android:configChanges="keyboardHidden|orientation">
			
		</activity>

		<activity android:name="AboutMedia"></activity>
		<activity android:name="co.za.docode.radiomobile.android.Splash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>


	<uses-sdk android:maxSdkVersion="100"
		android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 